Ler arquivos

In [1]:
import pandas as pd
import pickle

# Carregar o DataFrame a partir do arquivo Pickle
df = pd.read_pickle('C:/Users/Rafael/OneDrive/Documentos/TCC Rafaela/Dados/Pickle/arquivo_es.pickle')

In [2]:
df.describe().transpose()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1253742 entries, 0 to 104130
Data columns (total 73 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   AP_MVM      1253742 non-null  int64
 1   AP_CONDIC   1253742 non-null  object
 2   AP_GESTAO   1253742 non-null  int64
 3   AP_CODUNI   1253742 non-null  int64
 4   AP_AUTORIZ  1253742 non-null  int64
 5   AP_CMP      1253742 non-null  int64
 6   AP_PRIPAL   1253597 non-null  float64
 7   AP_VL_AP    1253690 non-null  float64
 8   AP_UFMUN    1253742 non-null  int64
 9   AP_TPUPS    1253742 non-null  int64
 10  AP_TIPPRE   1253742 non-null  int64
 11  AP_MN_IND   1253742 non-null  object
 12  AP_CNPJCPF  1253742 non-null  int64
 13  AP_CNPJMNT  882831 non-null   float64
 14  AP_CNSPCN   1252706 non-null  object
 15  AP_COIDADE  1253742 non-null  int64
 16  AP_NUIDADE  1253742 non-null  int64
 17  AP_SEXO     1253742 non-null  object
 18  AP_RACACOR  1253742 non-null  int64
 19  AP_MUNPCN   1253742 non-null  int64
 20  AP_UFNACIO  1253740 non-null  float64
 21  AP_CEPPCN   1253742 non-null  int64
 22  AP_UFDIF    1253742 non-null  int64
 23  AP_MNDIF    1253742 non-null  int64
 24  AP_DTINIC   1253742 non-null  int64
 25  AP_DTFIM    1253742 non-null  int64
 26  AP_TPATEN   1253742 non-null  int64
 27  AP_TPAPAC   1253742 non-null  int64
 28  AP_MOTSAI   1253742 non-null  int64
 29  AP_OBITO    1253742 non-null  int64
 30  AP_ENCERR   1253742 non-null  int64
 31  AP_PERMAN   1253742 non-null  int64
 32  AP_ALTA     1253742 non-null  int64
 33  AP_TRANSF   1253742 non-null  int64
 34  AP_DTOCOR   78663 non-null    float64
 35  AP_CODEMI   1253742 non-null  object
 36  AP_CATEND   1253313 non-null  float64
 37  AP_UNISOL   1253199 non-null  float64
 38  AP_DTSOLIC  1253198 non-null  float64
 39  AP_DTAUT    1253197 non-null  float64
 40  AP_CIDCAS   1253742 non-null  object
 41  AP_CIDPRI   1253742 non-null  object
 42  AP_CIDSEC   1253742 non-null  object
 43  AP_ETNIA    959 non-null      float64
 44  AQ_CID10    299574 non-null   object
 45  AQ_LINFIN   1253690 non-null  object
 46  AQ_ESTADI   1110552 non-null  float64
 47  AQ_GRAHIS   1253690 non-null  object
 48  AQ_DTIDEN   1253690 non-null  float64
 49  AQ_TRANTE   1253742 non-null  object
 50  AQ_CIDINI1  551734 non-null   object
 51  AQ_DTINI1   551757 non-null   float64
 52  AQ_CIDINI2  333171 non-null   object
 53  AQ_DTINI2   333185 non-null   float64
 54  AQ_CIDINI3  132224 non-null   object
 55  AQ_DTINI3   132235 non-null   float64
 56  AQ_CONTTR   1253690 non-null  object
 57  AQ_DTINTR   1253690 non-null  float64
 58  AQ_ESQU_P1  1253690 non-null  object
 59  AQ_TOTMPL   1253742 non-null  int64
 60  AQ_TOTMAU   1253742 non-null  int64
 61  AQ_ESQU_P2  1153517 non-null  object
 62  AP_NATJUR   804110 non-null   float64
 63  AQ_MED01    286849 non-null   float64
 64  AQ_MED02    68861 non-null    float64
 65  AQ_MED03    17684 non-null    float64
 66  AQ_MED04    4162 non-null     float64
 67  AQ_MED05    961 non-null      float64
 68  AQ_MED06    183 non-null      float64
 69  AQ_MED07    40 non-null       float64
 70  AQ_MED08    13 non-null       float64
 71  AQ_MED09    0 non-null        float64
 72  AQ_MED10    0 non-null        float64
dtypes: float64(27), int64(28), object(18)
memory usage: 707.8+ MB

In [2]:
import re

# Função para identificar o formato e remover o último número
def remover_ultimo_numero(valor):
    # Verifica se o valor corresponde ao formato "letra + 3 números"
    if re.match(r'^[A-Za-z]\d{3}$', valor):
        # Retira o último número
        return valor[:-1]
    return valor


df['CID_PRIN_FORMATADO'] = df['AP_CIDPRI'].apply(remover_ultimo_numero)

In [3]:

# Cria um novo DataFrame filtrando as linhas onde a coluna 'CID_PRIN_FORMATADO' é 'C50'
df_c50 = df[df['CID_PRIN_FORMATADO'] == 'C50']

# Exibe o novo DataFrame
print(df_c50)

        AP_MVM AP_CONDIC  AP_GESTAO  AP_CODUNI     AP_AUTORIZ  AP_CMP  \
7       200801        EP     320000    2547821  3208200295014  200801
12      200801        EP     320000    2547821  3208200288689  200801
13      200801        EP     320000    2547821  3208200288865  200801
15      200801        EP     320000      11738  3208200427619  200801
23      200801        EP     320000    2547821  3208200289613  200801
...        ...       ...        ...        ...            ...     ...
104060  202411        EP     320000      11738  3224205661237  202410
104061  202411        EP     320000    2547821  3224205737027  202411
104062  202411        EP     320000    2494442  3224205859303  202411
104071  202411        EP     320000    2465833  3224205669696  202411
104072  202411        EP     320000      11738  3224205873075  202411

          AP_PRIPAL  AP_VL_AP  AP_UFMUN  AP_TPUPS  ...  AQ_MED02 AQ_MED03  \
7       304050121.0     79.75    320120         5  ...       NaN      NaN
12      304050040.0     79.75    320120         5  ...       NaN      NaN
13      304050121.0     79.75    320120         5  ...       NaN      NaN
15      304020346.0     79.75    320530         5  ...       NaN      NaN
23      304050105.0     79.75    320120         5  ...       NaN      NaN
...             ...       ...       ...       ...  ...       ...      ...
104060  304020141.0   2378.90    320530         7  ...     120.0      NaN
104061  304020141.0   2828.40    320120         5  ...      69.0      NaN
104062  304020141.0   2378.90    320520         5  ...       NaN      NaN
104071  304020419.0   1700.00    320320         5  ...       NaN      NaN
104072  304020435.0   1700.00    320530         7  ...     148.0      NaN

        AQ_MED04  AQ_MED05 AQ_MED06  AQ_MED07  AQ_MED08 AQ_MED09  AQ_MED10  \
7            NaN       NaN      NaN       NaN       NaN      NaN       NaN
12           NaN       NaN      NaN       NaN       NaN      NaN       NaN
13           NaN       NaN      NaN       NaN       NaN      NaN       NaN
15           NaN       NaN      NaN       NaN       NaN      NaN       NaN
23           NaN       NaN      NaN       NaN       NaN      NaN       NaN
...          ...       ...      ...       ...       ...      ...       ...
104060       NaN       NaN      NaN       NaN       NaN      NaN       NaN
104061       NaN       NaN      NaN       NaN       NaN      NaN       NaN
104062       NaN       NaN      NaN       NaN       NaN      NaN       NaN
104071       NaN       NaN      NaN       NaN       NaN      NaN       NaN
104072       NaN       NaN      NaN       NaN       NaN      NaN       NaN

        CID_PRIN_FORMATADO
7                      C50
12                     C50
13                     C50
15                     C50
23                     C50
...                    ...
104060                 C50
104061                 C50
104062                 C50
104071                 C50
104072                 C50

[583689 rows x 74 columns]

In [4]:
dados_serializados = pickle.dumps(df_c50)
with open('C:/Users/Rafael/OneDrive/Documentos/TCC Rafaela/Dados/Pickle/cancer_de_mama_es.pickle', 'wb') as arquivo:
    arquivo.write(dados_serializados)

In [6]:
df = pd.read_pickle('C:/Users/Rafael/OneDrive/Documentos/TCC Rafaela/Dados/Pickle/cancer_de_mama_es.pickle')
df.describe().transpose()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 583689 entries, 7 to 104072
Data columns (total 74 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   AP_MVM              583689 non-null  int64
 1   AP_CONDIC           583689 non-null  object
 2   AP_GESTAO           583689 non-null  int64
 3   AP_CODUNI           583689 non-null  int64
 4   AP_AUTORIZ          583689 non-null  int64
 5   AP_CMP              583689 non-null  int64
 6   AP_PRIPAL           583597 non-null  float64
 7   AP_VL_AP            583689 non-null  float64
 8   AP_UFMUN            583689 non-null  int64
 9   AP_TPUPS            583689 non-null  int64
 10  AP_TIPPRE           583689 non-null  int64
 11  AP_MN_IND           583689 non-null  object
 12  AP_CNPJCPF          583689 non-null  int64
 13  AP_CNPJMNT          405438 non-null  float64
 14  AP_CNSPCN           583197 non-null  object
 15  AP_COIDADE          583689 non-null  int64
 16  AP_NUIDADE          583689 non-null  int64
 17  AP_SEXO             583689 non-null  object
 18  AP_RACACOR          583689 non-null  int64
 19  AP_MUNPCN           583689 non-null  int64
 20  AP_UFNACIO          583688 non-null  float64
 21  AP_CEPPCN           583689 non-null  int64
 22  AP_UFDIF            583689 non-null  int64
 23  AP_MNDIF            583689 non-null  int64
 24  AP_DTINIC           583689 non-null  int64
 25  AP_DTFIM            583689 non-null  int64
 26  AP_TPATEN           583689 non-null  int64
 27  AP_TPAPAC           583689 non-null  int64
 28  AP_MOTSAI           583689 non-null  int64
 29  AP_OBITO            583689 non-null  int64
 30  AP_ENCERR           583689 non-null  int64
 31  AP_PERMAN           583689 non-null  int64
 32  AP_ALTA             583689 non-null  int64
 33  AP_TRANSF           583689 non-null  int64
 34  AP_DTOCOR           24913 non-null   float64
 35  AP_CODEMI           583689 non-null  object
 36  AP_CATEND           583553 non-null  float64
 37  AP_UNISOL           583457 non-null  float64
 38  AP_DTSOLIC          583456 non-null  float64
 39  AP_DTAUT            583456 non-null  float64
 40  AP_CIDCAS           583689 non-null  object
 41  AP_CIDPRI           583689 non-null  object
 42  AP_CIDSEC           583689 non-null  object
 43  AP_ETNIA            2 non-null       float64
 44  AQ_CID10            122912 non-null  object
 45  AQ_LINFIN           583689 non-null  object
 46  AQ_ESTADI           583681 non-null  float64
 47  AQ_GRAHIS           583689 non-null  object
 48  AQ_DTIDEN           583689 non-null  float64
 49  AQ_TRANTE           583689 non-null  object
 50  AQ_CIDINI1          357397 non-null  object
 51  AQ_DTINI1           357408 non-null  float64
 52  AQ_CIDINI2          257110 non-null  object
 53  AQ_DTINI2           257121 non-null  float64
 54  AQ_CIDINI3          109056 non-null  object
 55  AQ_DTINI3           109064 non-null  float64
 56  AQ_CONTTR           583689 non-null  object
 57  AQ_DTINTR           583689 non-null  float64
 58  AQ_ESQU_P1          583689 non-null  object
 59  AQ_TOTMPL           583689 non-null  int64
 60  AQ_TOTMAU           583689 non-null  int64
 61  AQ_ESQU_P2          537290 non-null  object
 62  AP_NATJUR           380587 non-null  float64
 63  AQ_MED01            137216 non-null  float64
 64  AQ_MED02            19978 non-null   float64
 65  AQ_MED03            5442 non-null    float64
 66  AQ_MED04            562 non-null     float64
 67  AQ_MED05            37 non-null      float64
 68  AQ_MED06            0 non-null       float64
 69  AQ_MED07            0 non-null       float64
 70  AQ_MED08            0 non-null       float64
 71  AQ_MED09            0 non-null       float64
 72  AQ_MED10            0 non-null       float64
 73  CID_PRIN_FORMATADO  583689 non-null  object
dtypes: float64(27), int64(28), object(19)
memory usage: 334.0+ MB