Ler arquivos

In [1]:
import pandas as pd
import pickle

# Carregar o DataFrame a partir do arquivo Pickle
df = pd.read_pickle('C:/Users/Rafael/OneDrive/Documentos/TCC Rafaela/Dados/Pickle/arquivo_rj.pickle')

In [2]:
df.describe().transpose()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3798583 entries, 0 to 76930
Data columns (total 73 columns):
 #   Column      Dtype
---  ------      -----
 0   AP_MVM      int64
 1   AP_CONDIC   object
 2   AP_GESTAO   int64
 3   AP_CODUNI   int64
 4   AP_AUTORIZ  int64
 5   AP_CMP      int64
 6   AP_PRIPAL   float64
 7   AP_VL_AP    float64
 8   AP_UFMUN    int64
 9   AP_TPUPS    int64
 10  AP_TIPPRE   int64
 11  AP_MN_IND   object
 12  AP_CNPJCPF  int64
 13  AP_CNPJMNT  float64
 14  AP_CNSPCN   object
 15  AP_COIDADE  int64
 16  AP_NUIDADE  int64
 17  AP_SEXO     object
 18  AP_RACACOR  int64
 19  AP_MUNPCN   int64
 20  AP_UFNACIO  float64
 21  AP_CEPPCN   int64
 22  AP_UFDIF    int64
 23  AP_MNDIF    int64
 24  AP_DTINIC   int64
 25  AP_DTFIM    int64
 26  AP_TPATEN   int64
 27  AP_TPAPAC   int64
 28  AP_MOTSAI   int64
 29  AP_OBITO    int64
 30  AP_ENCERR   int64
 31  AP_PERMAN   int64
 32  AP_ALTA     int64
 33  AP_TRANSF   int64
 34  AP_DTOCOR   float64
 35  AP_CODEMI   object
 36  AP_CATEND   float64
 37  AP_UNISOL   float64
 38  AP_DTSOLIC  float64
 39  AP_DTAUT    float64
 40  AP_CIDCAS   object
 41  AP_CIDPRI   object
 42  AP_CIDSEC   object
 43  AP_ETNIA    float64
 44  AQ_CID10    object
 45  AQ_LINFIN   object
 46  AQ_ESTADI   float64
 47  AQ_GRAHIS   object
 48  AQ_DTIDEN   float64
 49  AQ_TRANTE   object
 50  AQ_CIDINI1  object
 51  AQ_DTINI1   float64
 52  AQ_CIDINI2  object
 53  AQ_DTINI2   float64
 54  AQ_CIDINI3  object
 55  AQ_DTINI3   float64
 56  AQ_CONTTR   object
 57  AQ_DTINTR   float64
 58  AQ_ESQU_P1  object
 59  AQ_TOTMPL   object
 60  AQ_TOTMAU   object
 61  AQ_ESQU_P2  object
 62  AP_NATJUR   float64
 63  AQ_MED01    float64
 64  AQ_MED02    float64
 65  AQ_MED03    float64
 66  AQ_MED04    float64
 67  AQ_MED05    float64
 68  AQ_MED06    float64
 69  AQ_MED07    float64
 70  AQ_MED08    float64
 71  AQ_MED09    float64
 72  AQ_MED10    float64
dtypes: float64(27), int64(26), object(20)
memory usage: 2.1+ GB

In [2]:
import re

# Função para identificar o formato e remover o último número
def remover_ultimo_numero(valor):
    # Verifica se o valor corresponde ao formato "letra + 3 números"
    if re.match(r'^[A-Za-z]\d{3}$', valor):
        # Retira o último número
        return valor[:-1]
    return valor


df['CID_PRIN_FORMATADO'] = df['AP_CIDPRI'].apply(remover_ultimo_numero)

In [3]:

# Cria um novo DataFrame filtrando as linhas onde a coluna 'CID_PRIN_FORMATADO' é 'C50'
df_c50 = df[df['CID_PRIN_FORMATADO'] == 'C50']

# Exibe o novo DataFrame
print(df_c50)

       AP_MVM AP_CONDIC  AP_GESTAO  AP_CODUNI     AP_AUTORIZ  AP_CMP  \
0      200801        EP     330000    2287358  3308200305290  200801
2      200801        EP     330000    2287358  3308200304299  200801
6      200801        MN     330220    2278855  3308200003450  200801
7      200801        MN     330220    2278855  3308200002371  200801
8      200801        MN     330330      12505  3308200263841  200801
...       ...       ...        ...        ...            ...     ...
29309  202412        PG     330100    2287285  3324205025856  202412
29310  202412        PG     330390    2275562  3324208663545  202412
29311  202412        PG     330455    2269384  3324209212819  202412
29391  202412        EP     330000    2292386  3324203726228  202412
29392  202412        PG     330330      12505  3324204949637  202412

         AP_PRIPAL  AP_VL_AP  AP_UFMUN  AP_TPUPS  ...  AQ_MED02 AQ_MED03  \
0      304050067.0    554.02    330100         4  ...       NaN      NaN
2      304020141.0   2378.90    330100         4  ...       NaN      NaN
6      304050083.0     79.75    330220         5  ...       NaN      NaN
7      304050040.0     79.75    330220         5  ...       NaN      NaN
8      304040029.0   1062.65    330330         5  ...       NaN      NaN
...            ...       ...       ...       ...  ...       ...      ...
29309  304020435.0   1700.00    330100         5  ...     145.0      NaN
29310  304020443.0     34.10    330390         5  ...     145.0    129.0
29311  304020443.0      0.00    330455         5  ...       NaN      NaN
29391  304040193.0      0.00    330580         5  ...       NaN      NaN
29392  304040193.0     79.75    330330         5  ...       NaN      NaN

       AQ_MED04  AQ_MED05 AQ_MED06  AQ_MED07  AQ_MED08 AQ_MED09  AQ_MED10  \
0           NaN       NaN      NaN       NaN       NaN      NaN       NaN
2           NaN       NaN      NaN       NaN       NaN      NaN       NaN
6           NaN       NaN      NaN       NaN       NaN      NaN       NaN
7           NaN       NaN      NaN       NaN       NaN      NaN       NaN
8           NaN       NaN      NaN       NaN       NaN      NaN       NaN
...         ...       ...      ...       ...       ...      ...       ...
29309       NaN       NaN      NaN       NaN       NaN      NaN       NaN
29310       NaN       NaN      NaN       NaN       NaN      NaN       NaN
29311       NaN       NaN      NaN       NaN       NaN      NaN       NaN
29391       NaN       NaN      NaN       NaN       NaN      NaN       NaN
29392       NaN       NaN      NaN       NaN       NaN      NaN       NaN

       CID_PRIN_FORMATADO
0                     C50
2                     C50
6                     C50
7                     C50
8                     C50
...                   ...
29309                 C50
29310                 C50
29311                 C50
29391                 C50
29392                 C50

[1991992 rows x 75 columns]

In [4]:
dados_serializados = pickle.dumps(df_c50)
with open('C:/Users/Rafael/OneDrive/Documentos/TCC Rafaela/Dados/Pickle/cancer_mama_rj.pickle', 'wb') as arquivo:
    arquivo.write(dados_serializados)

In [6]:
df = pd.read_pickle('C:/Users/Rafael/OneDrive/Documentos/TCC Rafaela/Dados/Pickle/cancer_mama_rj.pickle')
df.describe().transpose()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1977089 entries, 0 to 76819
Data columns (total 74 columns):
 #   Column              Dtype
---  ------              -----
 0   AP_MVM              int64
 1   AP_CONDIC           object
 2   AP_GESTAO           int64
 3   AP_CODUNI           int64
 4   AP_AUTORIZ          int64
 5   AP_CMP              int64
 6   AP_PRIPAL           float64
 7   AP_VL_AP            float64
 8   AP_UFMUN            int64
 9   AP_TPUPS            int64
 10  AP_TIPPRE           int64
 11  AP_MN_IND           object
 12  AP_CNPJCPF          int64
 13  AP_CNPJMNT          float64
 14  AP_CNSPCN           object
 15  AP_COIDADE          int64
 16  AP_NUIDADE          int64
 17  AP_SEXO             object
 18  AP_RACACOR          int64
 19  AP_MUNPCN           int64
 20  AP_UFNACIO          float64
 21  AP_CEPPCN           int64
 22  AP_UFDIF            int64
 23  AP_MNDIF            int64
 24  AP_DTINIC           int64
 25  AP_DTFIM            int64
 26  AP_TPATEN           int64
 27  AP_TPAPAC           int64
 28  AP_MOTSAI           int64
 29  AP_OBITO            int64
 30  AP_ENCERR           int64
 31  AP_PERMAN           int64
 32  AP_ALTA             int64
 33  AP_TRANSF           int64
 34  AP_DTOCOR           float64
 35  AP_CODEMI           object
 36  AP_CATEND           float64
 37  AP_UNISOL           float64
 38  AP_DTSOLIC          float64
 39  AP_DTAUT            float64
 40  AP_CIDCAS           object
 41  AP_CIDPRI           object
 42  AP_CIDSEC           object
 43  AP_ETNIA            float64
 44  AQ_CID10            object
 45  AQ_LINFIN           object
 46  AQ_ESTADI           float64
 47  AQ_GRAHIS           object
 48  AQ_DTIDEN           float64
 49  AQ_TRANTE           object
 50  AQ_CIDINI1          object
 51  AQ_DTINI1           float64
 52  AQ_CIDINI2          object
 53  AQ_DTINI2           float64
 54  AQ_CIDINI3          object
 55  AQ_DTINI3           float64
 56  AQ_CONTTR           object
 57  AQ_DTINTR           float64
 58  AQ_ESQU_P1          object
 59  AQ_TOTMPL           object
 60  AQ_TOTMAU           object
 61  AQ_ESQU_P2          object
 62  AP_NATJUR           float64
 63  AQ_MED01            float64
 64  AQ_MED02            float64
 65  AQ_MED03            float64
 66  AQ_MED04            float64
 67  AQ_MED05            float64
 68  AQ_MED06            float64
 69  AQ_MED07            float64
 70  AQ_MED08            float64
 71  AQ_MED09            float64
 72  AQ_MED10            float64
 73  CID_PRIN_FORMATADO  object
dtypes: float64(27), int64(26), object(21)
memory usage: 1.1+ GB