Ler arquivos

In [1]:
import pandas as pd
import pickle

# importar o arquivo csv
tabela_quimioterapia_2008 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2008.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2009 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2009.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2010 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2010.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2011 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2011.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2012 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2012.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2013 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2013.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2014 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2014.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2015 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2015.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2016 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2016.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2017 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2017.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2018 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2018.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2019 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2019.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2020 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2020.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2021 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2021.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2022 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2022.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2023 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2023.csv', encoding='ISO-8859-1', low_memory=False)
tabela_quimioterapia_2024 = pd.read_csv('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/Quimioterapia_rj_2024.csv', encoding='ISO-8859-1', low_memory=False)

#concatenar tabelas em uma única
df = pd.concat([tabela_quimioterapia_2008, tabela_quimioterapia_2009, tabela_quimioterapia_2010, tabela_quimioterapia_2011, tabela_quimioterapia_2012, tabela_quimioterapia_2013, tabela_quimioterapia_2014, tabela_quimioterapia_2015, tabela_quimioterapia_2016, tabela_quimioterapia_2017, tabela_quimioterapia_2018, tabela_quimioterapia_2019, tabela_quimioterapia_2020, tabela_quimioterapia_2021, tabela_quimioterapia_2022, tabela_quimioterapia_2023, tabela_quimioterapia_2024],axis=0, ignore_index=True)

df.to_csv('quimioterapia_2008_2004_discriptografado.csv', index=True)

In [2]:
dados_serializados = pickle.dumps(df)
with open('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/arquivo.pickle', 'wb') as arquivo:
    arquivo.write(dados_serializados)

In [3]:
df = pd.read_pickle('C:/Users/Rafaela/Documents/TCC Sistemas de Informação/dataset-SUS/Dados do DATA SUS/Quimioterapia/RJ/arquivo.pickle')
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AP_MVM,3721652.0,2.017126e+05,4.762375e+02,2.008010e+05,2.013080e+05,2.018030e+05,2.021090e+05,2.024080e+05
AP_GESTAO,3721652.0,3.303667e+05,1.857753e+02,3.300000e+05,3.302400e+05,3.304550e+05,3.304550e+05,3.306300e+05
AP_CODUNI,3721652.0,2.070106e+06,6.791186e+05,1.250500e+04,2.269899e+06,2.273462e+06,2.280167e+06,9.679626e+06
AP_AUTORIZ,3721652.0,3.317183e+12,4.744536e+09,3.307206e+12,3.313202e+12,3.318201e+12,3.321205e+12,3.324208e+12
AP_CMP,3721652.0,2.017107e+05,4.760842e+02,2.008010e+05,2.013080e+05,2.018030e+05,2.021090e+05,2.024080e+05
AP_PRIPAL,3721346.0,3.040361e+08,1.511042e+04,3.040200e+08,3.040201e+08,3.040302e+08,3.040501e+08,3.040801e+08
AP_VL_AP,3721651.0,5.347525e+02,8.900492e+02,0.000000e+00,7.975000e+01,1.500000e+02,5.715000e+02,2.145327e+05
AP_UFMUN,3721652.0,3.303973e+05,1.571280e+02,3.300400e+05,3.303900e+05,3.304550e+05,3.304550e+05,3.306300e+05
AP_TPUPS,3721652.0,6.243046e+00,3.455321e+00,4.000000e+00,5.000000e+00,5.000000e+00,7.000000e+00,3.600000e+01
AP_TIPPRE,3721652.0,1.555073e+01,2.260594e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+01,6.100000e+01
AP_CNPJCPF,3721652.0,2.433959e+13,1.615323e+13,3.945440e+11,3.945440e+11,3.059057e+13,3.366368e+13,6.092217e+13
AP_CNPJMNT,3302160.0,1.490608e+13,1.710462e+13,0.000000e+00,0.000000e+00,3.945440e+11,3.366368e+13,6.092217e+13
AP_COIDADE,3721652.0,3.999929e+00,2.222300e-02,2.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,5.000000e+00
AP_NUIDADE,3721652.0,6.193230e+01,1.506590e+01,0.000000e+00,5.300000e+01,6.300000e+01,7.300000e+01,9.900000e+01
AP_RACACOR,3721652.0,1.137079e+01,2.891619e+01,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,9.900000e+01
AP_MUNPCN,3721652.0,3.303186e+05,4.050043e+03,1.100010e+05,3.302250e+05,3.304550e+05,3.304550e+05,5.300500e+05
AP_UFNACIO,3721650.0,1.013426e+01,3.490916e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,3.330000e+02
AP_CEPPCN,3721652.0,2.494469e+07,3.028464e+06,0.000000e+00,2.222001e+07,2.521439e+07,2.733023e+07,9.925300e+07
AP_UFDIF,3721652.0,2.929613e-03,5.404656e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
AP_MNDIF,3721652.0,9.998084e-01,1.383998e-02,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
AP_DTINIC,3721652.0,2.017056e+07,4.740127e+04,2.008010e+07,2.013070e+07,2.018020e+07,2.021080e+07,2.024083e+07
AP_DTFIM,3721652.0,2.017164e+07,4.781227e+04,2.008010e+07,2.013093e+07,2.018043e+07,2.021103e+07,2.024103e+07
AP_TPATEN,3721652.0,3.000000e+00,0.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00
AP_TPAPAC,3721652.0,1.637031e+00,4.815634e-01,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00
AP_MOTSAI,3721652.0,2.198260e+01,4.802986e+00,1.100000e+01,2.100000e+01,2.100000e+01,2.100000e+01,5.100000e+01
AP_OBITO,3721652.0,2.940630e-03,5.414779e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
AP_ENCERR,3721652.0,2.106914e-02,1.436149e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
AP_PERMAN,3721652.0,9.459154e-01,2.261846e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
AP_ALTA,3721652.0,2.999233e-02,1.705661e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
AP_TRANSF,3721652.0,8.249025e-05,9.082041e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
AP_DTOCOR,208117.0,2.017335e+07,4.581368e+04,2.008010e+07,2.013123e+07,2.018070e+07,2.022020e+07,2.024083e+07
AP_CATEND,3703584.0,1.000429e+00,3.334235e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00
AP_UNISOL,3721365.0,1.818347e+06,9.307982e+05,0.000000e+00,2.269783e+06,2.273462e+06,2.278855e+06,9.679626e+06
AP_DTSOLIC,3718241.0,2.016948e+07,1.787732e+05,1.290904e+06,2.013070e+07,2.018011e+07,2.021060e+07,9.201081e+07
AP_DTAUT,3718474.0,2.016920e+07,1.600611e+05,1.111001e+06,2.013070e+07,2.018012e+07,2.021060e+07,8.202022e+07
AP_ETNIA,4322.0,7.529431e+01,1.521102e+02,0.000000e+00,7.700000e+01,7.700000e+01,7.700000e+01,9.999000e+03
AQ_ESTADI,3244553.0,2.703408e+00,1.032249e+00,0.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00
AQ_DTIDEN,3721651.0,2.013052e+07,3.186107e+05,1.212170e+05,2.009103e+07,2.014031e+07,2.018080e+07,9.201093e+07
AQ_DTINI1,1522611.0,2.011725e+07,2.925347e+05,0.000000e+00,2.008062e+07,2.012042e+07,2.016111e+07,7.201011e+07
AQ_DTINI2,806325.0,2.012113e+07,1.429417e+05,0.000000e+00,2.008051e+07,2.012070e+07,2.016121e+07,2.500113e+07
AQ_DTINI3,373893.0,2.013064e+07,3.041531e+05,0.000000e+00,2.009061e+07,2.013062e+07,2.017061e+07,8.202052e+07
AQ_DTINTR,3721651.0,2.015839e+07,1.349335e+05,1.934020e+07,2.012042e+07,2.016101e+07,2.020042e+07,8.202071e+07
AP_NATJUR,2127459.0,2.455768e+03,1.345869e+03,1.015000e+03,1.023000e+03,2.062000e+03,3.999000e+03,3.999000e+03
AQ_MED01,789763.0,4.161052e+01,4.206573e+01,1.000000e+00,1.100000e+01,3.400000e+01,6.900000e+01,1.850000e+02
AQ_MED02,160928.0,7.916274e+01,5.480880e+01,1.000000e+00,3.400000e+01,7.500000e+01,1.200000e+02,1.850000e+02
AQ_MED03,53237.0,1.122398e+02,5.813156e+01,1.000000e+00,6.900000e+01,1.220000e+02,1.740000e+02,1.850000e+02
AQ_MED04,16533.0,1.251107e+02,5.490999e+01,2.000000e+00,8.500000e+01,1.390000e+02,1.750000e+02,1.840000e+02
AQ_MED05,6403.0,1.492041e+02,4.205432e+01,6.000000e+00,1.380000e+02,1.760000e+02,1.790000e+02,1.820000e+02
AQ_MED06,3413.0,1.527583e+02,3.724736e+01,5.000000e+00,1.240000e+02,1.750000e+02,1.820000e+02,1.830000e+02
AQ_MED07,1504.0,1.460851e+02,3.566950e+01,6.000000e+00,1.390000e+02,1.390000e+02,1.740000e+02,1.820000e+02
AQ_MED08,1112.0,1.515180e+02,2.056597e+01,1.300000e+01,1.420000e+02,1.420000e+02,1.740000e+02,1.820000e+02
AQ_MED09,236.0,1.474661e+02,2.427912e+01,2.300000e+01,1.420000e+02,1.420000e+02,1.740000e+02,1.790000e+02
AQ_MED10,163.0,1.493374e+02,2.921973e+01,7.500000e+01,1.580000e+02,1.580000e+02,1.580000e+02,1.790000e+02

In [4]:
# imprimir os dados da tabela
print(df.info())
df['AP_CNSPCN'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3721652 entries, 0 to 3721651
Data columns (total 74 columns):
 #   Column      Dtype
---  ------      -----
 0   AP_MVM      int64
 1   AP_CONDIC   object
 2   AP_GESTAO   int64
 3   AP_CODUNI   int64
 4   AP_AUTORIZ  int64
 5   AP_CMP      int64
 6   AP_PRIPAL   float64
 7   AP_VL_AP    float64
 8   AP_UFMUN    int64
 9   AP_TPUPS    int64
 10  AP_TIPPRE   int64
 11  AP_MN_IND   object
 12  AP_CNPJCPF  int64
 13  AP_CNPJMNT  float64
 14  AP_CNSPCN   object
 15  AP_COIDADE  int64
 16  AP_NUIDADE  int64
 17  AP_SEXO     object
 18  AP_RACACOR  int64
 19  AP_MUNPCN   int64
 20  AP_UFNACIO  float64
 21  AP_CEPPCN   int64
 22  AP_UFDIF    int64
 23  AP_MNDIF    int64
 24  AP_DTINIC   int64
 25  AP_DTFIM    int64
 26  AP_TPATEN   int64
 27  AP_TPAPAC   int64
 28  AP_MOTSAI   int64
 29  AP_OBITO    int64
 30  AP_ENCERR   int64
 31  AP_PERMAN   int64
 32  AP_ALTA     int64
 33  AP_TRANSF   int64
 34  AP_DTOCOR   float64
 35  AP_CODEMI   object
 36  AP_CATEND   float64
 37  AP_APACANT  object
 38  AP_UNISOL   float64
 39  AP_DTSOLIC  float64
 40  AP_DTAUT    float64
 41  AP_CIDCAS   object
 42  AP_CIDPRI   object
 43  AP_CIDSEC   object
 44  AP_ETNIA    float64
 45  AQ_CID10    object
 46  AQ_LINFIN   object
 47  AQ_ESTADI   float64
 48  AQ_GRAHIS   object
 49  AQ_DTIDEN   float64
 50  AQ_TRANTE   object
 51  AQ_CIDINI1  object
 52  AQ_DTINI1   float64
 53  AQ_CIDINI2  object
 54  AQ_DTINI2   float64
 55  AQ_CIDINI3  object
 56  AQ_DTINI3   float64
 57  AQ_CONTTR   object
 58  AQ_DTINTR   float64
 59  AQ_ESQU_P1  object
 60  AQ_TOTMPL   object
 61  AQ_TOTMAU   object
 62  AQ_ESQU_P2  object
 63  AP_NATJUR   float64
 64  AQ_MED01    float64
 65  AQ_MED02    float64
 66  AQ_MED03    float64
 67  AQ_MED04    float64
 68  AQ_MED05    float64
 69  AQ_MED06    float64
 70  AQ_MED07    float64
 71  AQ_MED08    float64
 72  AQ_MED09    float64
 73  AQ_MED10    float64
dtypes: float64(27), int64(26), object(21)
memory usage: 2.1+ GB
None

0    âäâ{Ç{{Çäââ}Ç~}
1    âäâ{Ç{{üÇéüüââ~
2    âäâ{Ç{{~âüÇâÇÇ
3    âäâ{Ç{{ü~~}ä}
4    âäâ{Ç{{|{éâ{ä|
Name: AP_CNSPCN, dtype: object

In [5]:
print(df.describe())

             AP_MVM     AP_GESTAO     AP_CODUNI    AP_AUTORIZ        AP_CMP  \
count  3.721652e+06  3.721652e+06  3.721652e+06  3.721652e+06  3.721652e+06
mean   2.017126e+05  3.303667e+05  2.070106e+06  3.317183e+12  2.017107e+05
std    4.762375e+02  1.857753e+02  6.791186e+05  4.744536e+09  4.760842e+02
min    2.008010e+05  3.300000e+05  1.250500e+04  3.307206e+12  2.008010e+05
25%    2.013080e+05  3.302400e+05  2.269899e+06  3.313202e+12  2.013080e+05
50%    2.018030e+05  3.304550e+05  2.273462e+06  3.318201e+12  2.018030e+05
75%    2.021090e+05  3.304550e+05  2.280167e+06  3.321205e+12  2.021090e+05
max    2.024080e+05  3.306300e+05  9.679626e+06  3.324208e+12  2.024080e+05

          AP_PRIPAL      AP_VL_AP      AP_UFMUN      AP_TPUPS     AP_TIPPRE  \
count  3.721346e+06  3.721651e+06  3.721652e+06  3.721652e+06  3.721652e+06
mean   3.040361e+08  5.347525e+02  3.303973e+05  6.243046e+00  1.555073e+01
std    1.511042e+04  8.900492e+02  1.571280e+02  3.455321e+00  2.260594e+01
min    3.040200e+08  0.000000e+00  3.300400e+05  4.000000e+00  0.000000e+00
25%    3.040201e+08  7.975000e+01  3.303900e+05  5.000000e+00  0.000000e+00
50%    3.040302e+08  1.500000e+02  3.304550e+05  5.000000e+00  0.000000e+00
75%    3.040501e+08  5.715000e+02  3.304550e+05  7.000000e+00  3.000000e+01
max    3.040801e+08  2.145327e+05  3.306300e+05  3.600000e+01  6.100000e+01

       ...       AQ_MED01       AQ_MED02      AQ_MED03      AQ_MED04  \
count  ...  789763.000000  160928.000000  53237.000000  16533.000000
mean   ...      41.610522      79.162744    112.239833    125.110748
std    ...      42.065727      54.808802     58.131561     54.909985
min    ...       1.000000       1.000000      1.000000      2.000000
25%    ...      11.000000      34.000000     69.000000     85.000000
50%    ...      34.000000      75.000000    122.000000    139.000000
75%    ...      69.000000     120.000000    174.000000    175.000000
max    ...     185.000000     185.000000    185.000000    184.000000

          AQ_MED05     AQ_MED06     AQ_MED07     AQ_MED08    AQ_MED09  \
count  6403.000000  3413.000000  1504.000000  1112.000000  236.000000
mean    149.204123   152.758277   146.085106   151.517986  147.466102
std      42.054323    37.247358    35.669503    20.565971   24.279115
min       6.000000     5.000000     6.000000    13.000000   23.000000
25%     138.000000   124.000000   139.000000   142.000000  142.000000
50%     176.000000   175.000000   139.000000   142.000000  142.000000
75%     179.000000   182.000000   174.000000   174.000000  174.000000
max     182.000000   183.000000   182.000000   182.000000  179.000000

         AQ_MED10
count  163.000000
mean   149.337423
std     29.219734
min     75.000000
25%    158.000000
50%    158.000000
75%    158.000000
max    179.000000

[8 rows x 53 columns]

In [6]:
#Excluir colunas

df = df.drop(['AP_CONDIC', 'AP_GESTAO', 'AP_CODUNI', 'AP_AUTORIZ', 'AP_VL_AP', 'AP_UFMUN', 'AP_TPUPS', 'AP_TIPPRE', 'AP_MN_IND','AP_CNPJCPF', 'AP_CNPJMNT', 'AP_MUNPCN','AP_UFNACIO', 'AP_CEPPCN','AP_UFDIF', 'AP_MNDIF', 'AP_TPATEN',  'AP_TPAPAC', 'AP_DTOCOR', 'AP_CODEMI', 'AP_APACANT', 'AP_UNISOL', 'AP_ETNIA', 'AP_NATJUR',  'AQ_MED01', 'AQ_MED02', 'AQ_MED03', 'AQ_MED04', 'AQ_MED05', 'AQ_MED06', 'AQ_MED07', 'AQ_MED08', 'AQ_MED09', 'AQ_MED10','AP_DTSOLIC', 'AP_DTAUT', 'AQ_GRAHIS', 'AQ_DTIDEN', 'AP_COIDADE', 'AP_MVM', 'AP_CMP', 'AP_DTFIM', 'AP_MOTSAI', 'AP_TRANSF', 'AP_CATEND', 'AQ_TOTMPL', 'AQ_TOTMAU' ], axis=1, inplace=False)

In [7]:
import numpy as np

# Substituir os valores NaN por 0
df['AP_PRIPAL'] = df['AP_PRIPAL'].fillna(0)

# Convertendo a coluna para o formato MM/AAAA
df['AP_DTINIC'] = pd.to_datetime(df['AP_DTINIC'].astype(str), format='%Y%m%d').dt.strftime('%d/%m/%Y')


# Remover valores nulos (NaN, inf) diretamente sem conversão para int ou str
df['AQ_DTINI1'] = df['AQ_DTINI1'].replace([np.nan, np.inf, -np.inf], np.nan)
df['AQ_DTINI2'] = df['AQ_DTINI2'].replace([np.nan, np.inf, -np.inf], np.nan)
df['AQ_DTINI3'] = df['AQ_DTINI3'].replace([np.nan, np.inf, -np.inf], np.nan)
df['AQ_DTINTR'] = df['AQ_DTINTR'].replace([np.nan, np.inf, -np.inf], np.nan)
df['AP_PRIPAL'] = df['AP_PRIPAL'].replace([np.inf, -np.inf], 0)

# Converter a coluna para inteiro
df['AP_PRIPAL'] = df['AP_PRIPAL'].astype(int)

# Convertendo as colunas para o formato DD/MM/AAAA, lidando com valores nulos com errors='coerce'
df['AQ_DTINI1'] = pd.to_datetime(df['AQ_DTINI1'], format='%Y%m%d', errors='coerce').dt.strftime('%d/%m/%Y')
df['AQ_DTINI2'] = pd.to_datetime(df['AQ_DTINI2'], format='%Y%m%d', errors='coerce').dt.strftime('%d/%m/%Y')
df['AQ_DTINI3'] = pd.to_datetime(df['AQ_DTINI3'], format='%Y%m%d', errors='coerce').dt.strftime('%d/%m/%Y')
df['AQ_DTINTR'] = pd.to_datetime(df['AQ_DTINTR'], format='%Y%m%d', errors='coerce').dt.strftime('%d/%m/%Y')
# Exibindo o DataFrame
primeiros_linhas_b = df['AP_DTINIC'].head()
primeiros_linhas_g = df['AQ_DTINI1'].head()
primeiros_linhas_h = df['AQ_DTINI2'].head()
primeiros_linhas_i = df['AQ_DTINI3'].head()
primeiros_linhas_j = df['AQ_DTINTR'].head()



# Converter a coluna para inteiro
df['AP_PRIPAL'] = df['AP_PRIPAL'].astype(int)



print(primeiros_linhas_b)
print(primeiros_linhas_g)
print(primeiros_linhas_h)
print(primeiros_linhas_i)
print(primeiros_linhas_j)

0    01/01/2008
1    01/01/2008
2    01/01/2008
3    01/01/2008
4    01/01/2008
Name: AP_DTINIC, dtype: object
0    30/07/2007
1           NaN
2    17/11/2006
3           NaN
4    01/08/1999
Name: AQ_DTINI1, dtype: object
0           NaN
1           NaN
2    20/03/2007
3           NaN
4           NaN
Name: AQ_DTINI2, dtype: object
0           NaN
1           NaN
2    10/07/2007
3           NaN
4           NaN
Name: AQ_DTINI3, dtype: object
0    18/10/2007
1    02/01/2008
2    01/10/2007
3    14/12/2007
4    20/05/2005
Name: AQ_DTINTR, dtype: object

In [8]:
print(df.isnull().sum()[df.isnull().sum() > 0])

AP_CNSPCN        2922
AQ_CID10      2575813
AQ_LINFIN           1
AQ_ESTADI      477099
AQ_CIDINI1    2201850
AQ_DTINI1     2199169
AQ_CIDINI2    2916958
AQ_DTINI2     2915351
AQ_CIDINI3    3348416
AQ_DTINI3     3347790
AQ_CONTTR           1
AQ_DTINTR          63
AQ_ESQU_P1          1
AQ_ESQU_P2    1067739
dtype: int64

In [9]:
# Substituindo NaN por 0 nas colunas
df['AP_CNSPCN'] = df['AP_CNSPCN'].fillna('Não informado',  inplace=False)
df['AQ_CID10'] = df['AQ_CID10'].fillna('Desconhecido',  inplace=False)
df['AQ_LINFIN'] = df['AQ_LINFIN'].replace({'S': 1, 'N': 2, np.nan: 3},  inplace=False)
df['AQ_ESTADI'] = df['AQ_ESTADI'].fillna(5,  inplace=False)
df['AQ_CIDINI1'] = df['AQ_CIDINI1'].fillna('Desconhecido', inplace=False)
df['AQ_CIDINI2'] = df['AQ_CIDINI2'].fillna('Desconhecido', inplace=False)
df['AQ_CIDINI3'] = df['AQ_CIDINI3'].fillna('Desconhecido', inplace=False)
df['AQ_CONTTR'] = df['AQ_CONTTR'].fillna('N',  inplace=False)
df['AQ_DTINTR'] = df['AQ_DTINTR'].fillna(df['AP_DTINIC'],  inplace=False)
df['AQ_ESQU_P1'] = df['AQ_ESQU_P1'].fillna('Não informado',  inplace=False)

# Transformando a coluna para o tipo inteiro
df['AQ_ESTADI'] = df['AQ_ESTADI'].astype(int)

# Excluir linhas onde 'AP_CNSPCN' é nulo ou vazio
df = df[~df['AP_CNSPCN'].isin([None, 'Não informado'])]

In [10]:
# Filtrando e contando as linhas que têm o valor '{{{{{{{{{{{{{{' na coluna 'AP_CNSPCN'
count = df[df['AP_CNSPCN'] == '{{{{{{{{{{{{{{{'].shape[0]

print(count)

# Remover as linhas que têm o valor '{{{{{{{{{{{{{{' na coluna 'AP_CNSPCN'
df = df.drop(df[df['AP_CNSPCN'] == '{{{{{{{{{{{{{{{'].index)



count = df[df['AP_CNSPCN'] == '{{{{{{{{{{{{{{{'].shape[0]

print(count)

1102
0

In [11]:
#Tratar os CID (retirar o último número)
df['AQ_CIDINI1'] = df['AQ_CIDINI1'].str.slice(0, -1)
df['AQ_CIDINI2'] = df['AQ_CIDINI2'].str.slice(0, -1)
df['AQ_CIDINI3'] = df['AQ_CIDINI3'].str.slice(0, -1)
df['AQ_CID10'] = df['AQ_CID10'].str.slice(0, -1)
df['AP_CIDPRI'] = df['AP_CIDPRI'].str.slice(0, -1)

In [12]:

# Certifique-se de que as colunas estão no formato datetime
df['AQ_DTINI1'] = pd.to_datetime(df['AQ_DTINI1'], errors='coerce')
df['AQ_DTINI2'] = pd.to_datetime(df['AQ_DTINI2'], errors='coerce')
df['AQ_DTINI3'] = pd.to_datetime(df['AQ_DTINI3'], errors='coerce')
df['AQ_DTINTR'] = pd.to_datetime(df['AQ_DTINTR'], errors='coerce')



# Calcular a diferença em dias entre AQ_DTINI1 e AQ_DTINI2
df['Tempo_Atual_1'] = (df['AQ_DTINI1'] - df['AQ_DTINTR']).dt.days

# Calcular a diferença em dias entre AQ_DTINI1 e AQ_DTINI2
df['Tempo_1_2'] = (df['AQ_DTINI2'] - df['AQ_DTINI1']).dt.days

# Calcular a diferença em dias entre AQ_DTINI2 e AQ_DTINI3, considerando 0 se AQ_DTINI3 for nulo
df['Tempo_2_3'] = (df['AQ_DTINI3'] - df['AQ_DTINI2']).dt.days

# Calcular a diferença em dias entre AQ_DTINI1 e AQ_DTINI3, considerando 0 se AQ_DTINI2, ou AQ_DTINI3 for nulo
df['Tempo_1_3'] = (df['AQ_DTINI3'] - df['AQ_DTINI1']).dt.days

# Substituir valores nulos na coluna 'Tempo_2_3' por 0
df['Tempo_2_3'].fillna(0, inplace=True)
df['Tempo_1_2'].fillna(0, inplace=True)
df['Tempo_1_3'].fillna(0, inplace=True)
df['Tempo_Atual_1'].fillna(0, inplace=True)

C:\Users\Rafaela\AppData\Local\Temp\ipykernel_20676\1932335515.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['AQ_DTINI1'] = pd.to_datetime(df['AQ_DTINI1'], errors='coerce')
C:\Users\Rafaela\AppData\Local\Temp\ipykernel_20676\1932335515.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['AQ_DTINI2'] = pd.to_datetime(df['AQ_DTINI2'], errors='coerce')
C:\Users\Rafaela\AppData\Local\Temp\ipykernel_20676\1932335515.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['AQ_DTINI3'] = pd.to_datetime(df['AQ_DTINI3'], errors='coerce')
C:\Users\Rafaela\AppData\Local\Temp\ipykernel_20676\1932335515.py:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['AQ_DTINTR'] = pd.to_datetime(df['AQ_DTINTR'], errors='coerce')

In [13]:
df['Mudanca_de_Diagnostico_1'] = (df['AP_CIDPRI'] != df['AQ_CIDINI1']) & df['AP_CIDPRI'].notna().astype(int)
df['Mudanca_de_Diagnostico_2'] = (df['AQ_CIDINI2'] != df['AQ_CIDINI1']) & df['AQ_CIDINI2'].notna().astype(int)
df['Mudanca_de_Diagnostico_3'] = (df['AQ_CIDINI3'] != df['AQ_CIDINI2']) & df['AQ_CIDINI3'].notna().astype(int)

In [14]:
df['Numero_de_Tratamentos_Anteriores'] = df[['AQ_CIDINI1', 'AQ_CIDINI2', 'AQ_CIDINI3']].notna().sum(axis=1)

In [15]:
# Contar o número de diagnósticos diferentes ao longo dos tratamentos
df['Numero_de_Diagnosticos_Diferentes'] = df[['AQ_CIDINI1', 'AQ_CIDINI2', 'AQ_CIDINI3', 'AP_CIDPRI']].nunique(axis=1)

In [16]:
# Criar uma variável para indicar se há causas associadas ao tratamento
df['Tem_Causas_Associadas'] = df['AP_CIDCAS'].notna().astype(int)

In [17]:
df['esquema_terapeutico'] = df['AQ_ESQU_P1'].fillna('') + df['AQ_ESQU_P2'].fillna('') 
df['esquema_terapeutico'].value_counts()

TAMOXIFENO         442969
ANASTROZOL         254212
TMX                144555
LECTRUM            127924
TAMOX              114915
                    ...
DOCE+GENCIT             1
CISPL+GENCITAB          1
DOC+CDDP                1
CISP+MAN+DOC+FU         1
HERCEP+PERTU+ZO         1
Name: esquema_terapeutico, Length: 36129, dtype: int64

In [18]:
# Contar a quantidade de valores únicos na coluna 'cns_paciente'
quantidade_unicos = df['AP_CNSPCN'].nunique()

#Quantidade de óbitos
df['AP_OBITO'].value_counts()

#Porcentagem de mortalidade
mortalidade = df['AP_OBITO'].value_counts()[1] / quantidade_unicos
mortalidade = mortalidade * 100


# Mostrar o resultado
print(quantidade_unicos)
print(mortalidade)
print(df['AP_OBITO'].value_counts())

193308
5.651085314627434
0    3706704
1      10924
Name: AP_OBITO, dtype: int64

In [19]:

# Supondo que df seja o seu DataFrame
df.drop(columns=['AP_CIDCAS', 'AQ_ESQU_P1', 'AQ_ESQU_P2' ], axis=1, inplace=False)

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_OBITO,AP_ENCERR,AP_PERMAN,AP_ALTA,...,Tempo_1_2,Tempo_2_3,Tempo_1_3,Mudanca_de_Diagnostico_1,Mudanca_de_Diagnostico_2,Mudanca_de_Diagnostico_3,Numero_de_Tratamentos_Anteriores,Numero_de_Diagnosticos_Diferentes,Tem_Causas_Associadas,esquema_terapeutico
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,0,0,1,0,...,0.0,0.0,0.0,False,True,False,3,2,1,FAC
1,304020052,âäâ{Ç{{üÇéüüââ~,64,F,2,01/01/2008,0,0,1,0,...,0.0,0.0,0.0,True,False,False,3,2,1,CDDP+GEMZAR
2,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,0,0,1,0,...,123.0,201.0,324.0,False,False,False,3,1,1,XELODA
3,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,0,0,1,0,...,0.0,0.0,0.0,True,False,False,3,2,1,FLUO+CISPLA
4,304020079,âäâ{Ç{{|{éâ{ä|,75,M,4,01/01/2008,0,0,1,0,...,0.0,0.0,0.0,False,True,False,3,2,1,CIPROTERONA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3721647,304050342,é{â|{âÇ|â}âä~~,84,M,1,01/07/2024,0,0,1,0,...,0.0,0.0,0.0,True,False,False,3,2,1,"ELIGARD 22,5 MG"
3721648,304050342,é{é{â{äâ||âé{,62,M,3,01/07/2024,0,0,1,0,...,0.0,0.0,0.0,True,False,False,3,2,1,"ELIGARD 22,5 MG"
3721649,304050342,é{{{{|{â{â~|{},72,M,2,01/08/2024,0,0,1,0,...,0.0,0.0,0.0,True,False,False,3,2,1,LEUPRORRELINA
3721650,304020087,âäâ{{}~üÇ~üüäÇÇ,72,M,3,01/07/2024,0,0,1,0,...,0.0,0.0,0.0,True,False,False,3,2,1,"DOCETAXEL, ELIG"
3721651,304050342,âäâ{{âé~{{é{ää,80,M,2,01/07/2024,0,0,1,0,...,0.0,0.0,0.0,True,False,False,3,2,1,ZOLADEX

In [20]:
df['AP_CNSPCN'].head()
# df['AP_CNSPCN'].drop_duplicates().shape

pivot_table = pd.pivot_table(df, 
                             index=['AP_CNSPCN', 'AP_PRIPAL'], 
                             values=['AP_DTINIC', 'AQ_ESTADI'], 
                             aggfunc=['min', 'max'])
pivot_table.head()

                                  min                   max
                            AP_DTINIC AQ_ESTADI   AP_DTINIC AQ_ESTADI
AP_CNSPCN       AP_PRIPAL
{}{~|ü~üé{{{~ 304020028  01/01/2008         3  01/12/2008         4
|{{||äÇü~|{{{{Ç 304030074  19/06/2013         5  19/06/2013         5
                304030112  01/01/2014         5  27/07/2015         5
|{{||üüÇ}|{{{Ç 304050121  01/03/2013         2  18/07/2017         2
|{{|}é~ää{{{â 304020346  10/01/2013         3  29/10/2012         3

In [21]:
#Calcular a diferença do estadiamento entre os períodos

pivot_table['dif_estadiamento'] = pivot_table[('max','AQ_ESTADI')]-pivot_table[('min','AQ_ESTADI')]

#Contar a qauntidade de cada valor
pivot_table['dif_estadiamento'].value_counts()

0    255326
1      9465
2      3809
4      1964
3      1665
5        69
Name: dif_estadiamento, dtype: int64

In [22]:
pivot_table = pd.pivot_table(df, 
                             index=['AP_CNSPCN'], 
                             values=['AP_DTINIC', 'AQ_ESTADI'], 
                             aggfunc=['min', 'max'])

#Cálculo da Diferença entre o Máximo e Mínimo do Estadiamento
pivot_table['dif_estadiamento'] = pivot_table[('max','AQ_ESTADI')]-pivot_table[('min','AQ_ESTADI')]
pivot_table['dif_estadiamento'].value_counts()

0    161708
1     18618
2      7431
3      2851
4      2430
5       270
Name: dif_estadiamento, dtype: int64

In [23]:
# Renomear as colunas da tabela dinâmica
pivot_table = pivot_table.set_axis(['inicio','estadiamento_inicio','fim','estadiamento_fim','dif_estadiamento'], axis=1)
pivot_table.head()

,inicio,estadiamento_inicio,fim,estadiamento_fim,dif_estadiamento
AP_CNSPCN,,,,,
{}{~|ü~üé{{{~,01/01/2008,3,01/12/2008,4,1
|{{||äÇü~|{{{{Ç,01/01/2014,5,27/07/2015,5,0
|{{||üüÇ}|{{{Ç,01/03/2013,2,18/07/2017,2,0
|{{|}é~ää{{{â,10/01/2013,3,29/10/2012,5,2
|{{|Ç{ä~~{{{{ä,02/02/2013,0,06/08/2012,4,4

In [24]:
print(df.columns)
# Excluindo as colunas 'AQ_ESQU_P1' e 'AQ_ESQU_P2'
df.drop(columns=['AQ_ESQU_P1', 'AQ_ESQU_P2'], inplace=True)
df.drop(columns=['AP_CIDCAS', 'AQ_DTINTR', 'AQ_CONTTR' ], inplace=True)


print(df.columns)

Index(['AP_PRIPAL', 'AP_CNSPCN', 'AP_NUIDADE', 'AP_SEXO', 'AP_RACACOR',
       'AP_DTINIC', 'AP_OBITO', 'AP_ENCERR', 'AP_PERMAN', 'AP_ALTA',
       'AP_CIDCAS', 'AP_CIDPRI', 'AP_CIDSEC', 'AQ_CID10', 'AQ_LINFIN',
       'AQ_ESTADI', 'AQ_TRANTE', 'AQ_CIDINI1', 'AQ_DTINI1', 'AQ_CIDINI2',
       'AQ_DTINI2', 'AQ_CIDINI3', 'AQ_DTINI3', 'AQ_CONTTR', 'AQ_DTINTR',
       'AQ_ESQU_P1', 'AQ_ESQU_P2', 'Tempo_Atual_1', 'Tempo_1_2', 'Tempo_2_3',
       'Tempo_1_3', 'Mudanca_de_Diagnostico_1', 'Mudanca_de_Diagnostico_2',
       'Mudanca_de_Diagnostico_3', 'Numero_de_Tratamentos_Anteriores',
       'Numero_de_Diagnosticos_Diferentes', 'Tem_Causas_Associadas',
       'esquema_terapeutico'],
      dtype='object')
Index(['AP_PRIPAL', 'AP_CNSPCN', 'AP_NUIDADE', 'AP_SEXO', 'AP_RACACOR',
       'AP_DTINIC', 'AP_OBITO', 'AP_ENCERR', 'AP_PERMAN', 'AP_ALTA',
       'AP_CIDPRI', 'AP_CIDSEC', 'AQ_CID10', 'AQ_LINFIN', 'AQ_ESTADI',
       'AQ_TRANTE', 'AQ_CIDINI1', 'AQ_DTINI1', 'AQ_CIDINI2', 'AQ_DTINI2',
       'AQ_CIDINI3', 'AQ_DTINI3', 'Tempo_Atual_1', 'Tempo_1_2', 'Tempo_2_3',
       'Tempo_1_3', 'Mudanca_de_Diagnostico_1', 'Mudanca_de_Diagnostico_2',
       'Mudanca_de_Diagnostico_3', 'Numero_de_Tratamentos_Anteriores',
       'Numero_de_Diagnosticos_Diferentes', 'Tem_Causas_Associadas',
       'esquema_terapeutico'],
      dtype='object')

In [25]:
# Merge da tabela pivotada e do dataset
df = pd.merge(df, pivot_table, on=['AP_CNSPCN'], how='left')
df.head()

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_OBITO,AP_ENCERR,AP_PERMAN,AP_ALTA,...,Mudanca_de_Diagnostico_3,Numero_de_Tratamentos_Anteriores,Numero_de_Diagnosticos_Diferentes,Tem_Causas_Associadas,esquema_terapeutico,inicio,estadiamento_inicio,fim,estadiamento_fim,dif_estadiamento
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,0,0,1,0,...,False,3,2,1,FAC,01/01/2008,3,02/04/2009,3,0
1,304020052,âäâ{Ç{{üÇéüüââ~,64,F,2,01/01/2008,0,0,1,0,...,False,3,2,1,CDDP+GEMZAR,01/01/2008,4,01/01/2008,4,0
2,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,0,0,1,0,...,False,3,1,1,XELODA,01/01/2008,2,02/09/2011,3,1
3,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,0,0,1,0,...,False,3,2,1,FLUO+CISPLA,01/01/2008,4,01/01/2008,4,0
4,304020079,âäâ{Ç{{|{éâ{ä|,75,M,4,01/01/2008,0,0,1,0,...,False,3,2,1,CIPROTERONA,01/01/2008,3,01/08/2008,3,0

In [35]:
# df.drop(columns=[('min', 'AP_DTINIC'), 
#                  ('min', 'AQ_ESTADI'), 
#                  ('max', 'AP_DTINIC'), 
#                  ('max', 'AQ_ESTADI'), 
#                  ('dif_estadiamento', '')], inplace=True)

In [26]:
# Pivotar tabela
pivot_table = pd.pivot_table(df, 
                             index=['AP_CNSPCN', 'AP_PRIPAL'], 
                             values=['AP_DTINIC', 'AQ_ESTADI'], 
                             aggfunc=['min', 'max'])

# Calcular o total de tratamento realizados pelo paciente
total_tratamentos = pivot_table.reset_index().groupby('AP_CNSPCN')['AP_PRIPAL'].count()

#Fazer o merge dessa coluna de total de tratamentos ao dataset.
df = pd.merge(df, total_tratamentos, on=['AP_CNSPCN'], how='left')
df.head()

,AP_PRIPAL_x,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_OBITO,AP_ENCERR,AP_PERMAN,AP_ALTA,...,Numero_de_Tratamentos_Anteriores,Numero_de_Diagnosticos_Diferentes,Tem_Causas_Associadas,esquema_terapeutico,inicio,estadiamento_inicio,fim,estadiamento_fim,dif_estadiamento,AP_PRIPAL_y
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,0,0,1,0,...,3,2,1,FAC,01/01/2008,3,02/04/2009,3,0,2
1,304020052,âäâ{Ç{{üÇéüüââ~,64,F,2,01/01/2008,0,0,1,0,...,3,2,1,CDDP+GEMZAR,01/01/2008,4,01/01/2008,4,0,1
2,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,0,0,1,0,...,3,1,1,XELODA,01/01/2008,2,02/09/2011,3,1,1
3,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,0,0,1,0,...,3,2,1,FLUO+CISPLA,01/01/2008,4,01/01/2008,4,0,1
4,304020079,âäâ{Ç{{|{éâ{ä|,75,M,4,01/01/2008,0,0,1,0,...,3,2,1,CIPROTERONA,01/01/2008,3,01/08/2008,3,0,1

In [27]:
# Renomeando as colunas
df = df.rename(columns={'AP_PRIPAL_x': 'AP_PRIPAL'})
df = df.rename(columns={'AP_PRIPAL_y': 'total_tratamentos'})
df.head()

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_OBITO,AP_ENCERR,AP_PERMAN,AP_ALTA,...,Numero_de_Tratamentos_Anteriores,Numero_de_Diagnosticos_Diferentes,Tem_Causas_Associadas,esquema_terapeutico,inicio,estadiamento_inicio,fim,estadiamento_fim,dif_estadiamento,total_tratamentos
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,0,0,1,0,...,3,2,1,FAC,01/01/2008,3,02/04/2009,3,0,2
1,304020052,âäâ{Ç{{üÇéüüââ~,64,F,2,01/01/2008,0,0,1,0,...,3,2,1,CDDP+GEMZAR,01/01/2008,4,01/01/2008,4,0,1
2,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,0,0,1,0,...,3,1,1,XELODA,01/01/2008,2,02/09/2011,3,1,1
3,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,0,0,1,0,...,3,2,1,FLUO+CISPLA,01/01/2008,4,01/01/2008,4,0,1
4,304020079,âäâ{Ç{{|{éâ{ä|,75,M,4,01/01/2008,0,0,1,0,...,3,2,1,CIPROTERONA,01/01/2008,3,01/08/2008,3,0,1

In [28]:
#Pivot da tabela
pivot_table = pd.pivot_table(df, 
                             index=['AP_CNSPCN', 'AP_PRIPAL'], 
                             values=['AP_DTINIC'], 
                             aggfunc=['min', 'max'])
procedimento_inicial = pivot_table.reset_index().groupby('AP_CNSPCN')['AP_PRIPAL'].first()

# Obtendo o Primeiro Procedimento por Paciente
df = pd.merge(df, procedimento_inicial, on=['AP_CNSPCN'], how='left')
df.head()

,AP_PRIPAL_x,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_OBITO,AP_ENCERR,AP_PERMAN,AP_ALTA,...,Numero_de_Diagnosticos_Diferentes,Tem_Causas_Associadas,esquema_terapeutico,inicio,estadiamento_inicio,fim,estadiamento_fim,dif_estadiamento,total_tratamentos,AP_PRIPAL_y
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,0,0,1,0,...,2,1,FAC,01/01/2008,3,02/04/2009,3,0,2,304020141
1,304020052,âäâ{Ç{{üÇéüüââ~,64,F,2,01/01/2008,0,0,1,0,...,2,1,CDDP+GEMZAR,01/01/2008,4,01/01/2008,4,0,1,304020052
2,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,0,0,1,0,...,1,1,XELODA,01/01/2008,2,02/09/2011,3,1,1,304020141
3,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,0,0,1,0,...,2,1,FLUO+CISPLA,01/01/2008,4,01/01/2008,4,0,1,304020176
4,304020079,âäâ{Ç{{|{éâ{ä|,75,M,4,01/01/2008,0,0,1,0,...,2,1,CIPROTERONA,01/01/2008,3,01/08/2008,3,0,1,304020079

In [29]:
#Renomear colunas 
df = df.rename(columns={'AP_PRIPAL_x': 'AP_PRIPAL'})
df = df.rename(columns={'AP_PRIPAL_y': 'procedimento_inicial'})
df.head()

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_OBITO,AP_ENCERR,AP_PERMAN,AP_ALTA,...,Numero_de_Diagnosticos_Diferentes,Tem_Causas_Associadas,esquema_terapeutico,inicio,estadiamento_inicio,fim,estadiamento_fim,dif_estadiamento,total_tratamentos,procedimento_inicial
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,0,0,1,0,...,2,1,FAC,01/01/2008,3,02/04/2009,3,0,2,304020141
1,304020052,âäâ{Ç{{üÇéüüââ~,64,F,2,01/01/2008,0,0,1,0,...,2,1,CDDP+GEMZAR,01/01/2008,4,01/01/2008,4,0,1,304020052
2,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,0,0,1,0,...,1,1,XELODA,01/01/2008,2,02/09/2011,3,1,1,304020141
3,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,0,0,1,0,...,2,1,FLUO+CISPLA,01/01/2008,4,01/01/2008,4,0,1,304020176
4,304020079,âäâ{Ç{{|{éâ{ä|,75,M,4,01/01/2008,0,0,1,0,...,2,1,CIPROTERONA,01/01/2008,3,01/08/2008,3,0,1,304020079

In [30]:
# Criação da coluna Piora
df['piora'] = df['dif_estadiamento'].apply(lambda x: 1 if x > 0 else 0)
df['piora'].value_counts()

#Indicador de óbito 
df['obito'] = df['AP_OBITO'].apply(lambda x: 1 if x > 0 else 0)
df['obito'].value_counts()

#Indicador de Alta 
df['alta'] = df['AP_ALTA'].apply(lambda x: 1 if x > 0 else 0)
df['alta'].value_counts()

#Indicador de Melhora
df['melhora'] = df['AP_ENCERR'].apply(lambda x: 1 if x > 0 else 0)
df['melhora'].value_counts()

0    3639216
1      78412
Name: melhora, dtype: int64

In [31]:
#Pivot da tabela por CNS
pivot_table = pd.pivot_table(df,
                             index='AP_CNSPCN',
                             values=['obito','piora','melhora','alta'],
                             aggfunc='max'
                             )
pivot_table.head()

                 alta  melhora  obito  piora
AP_CNSPCN
{}{~|ü~üé{{{~     1        0      0      1
|{{||äÇü~|{{{{Ç     1        0      0      0
|{{||üüÇ}|{{{Ç     0        0      0      0
|{{|}é~ää{{{â     0        0      0      1
|{{|Ç{ä~~{{{{ä     0        0      0      1

In [32]:
# Verificar desfecho do Paciente
def verifica_desfecho(obito, piora, melhora, alta):
    if(obito > 0 ):
        return 'Óbito'
    elif(piora > 0 ):
        return 'Piora'
    elif(melhora > 0):
        return 'Melhora'
    elif(alta > 0):
        return 'Alta'
    else:
        return 'SemDesfecho'

#Criar coluna com esse desfecho
df['desfecho'] = np.vectorize(verifica_desfecho)(df['obito'], df['piora'], df['melhora'], df['alta'])
df['desfecho'].value_counts()

SemDesfecho    2513393
Piora          1066688
Alta             71721
Melhora          54902
Óbito            10924
Name: desfecho, dtype: int64

In [33]:
# Excluindo as colunas 'AQ_ESQU_P1' e 'AQ_ESQU_P2'
df.drop(columns=['AP_OBITO', 'AP_ENCERR', 'AP_PERMAN', 'AP_ALTA'], inplace=True)

df.head()

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_CIDPRI,AP_CIDSEC,AQ_CID10,AQ_LINFIN,...,fim,estadiamento_fim,dif_estadiamento,total_tratamentos,procedimento_inicial,piora,obito,alta,melhora,desfecho
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,C50,0000,C50,2,...,02/04/2009,3,0,2,304020141,0,0,0,0,SemDesfecho
1,304020052,âäâ{Ç{{üÇéüüââ~,64,F,2,01/01/2008,C25,0000,C25,1,...,01/01/2008,4,0,1,304020052,0,0,0,0,SemDesfecho
2,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,C50,0000,C50,1,...,02/09/2011,3,1,1,304020141,1,0,0,0,Piora
3,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,C15,0000,C15,2,...,01/01/2008,4,0,1,304020176,0,0,0,0,SemDesfecho
4,304020079,âäâ{Ç{{|{éâ{ä|,75,M,4,01/01/2008,C60,0000,C60,1,...,01/08/2008,3,0,1,304020079,0,0,0,0,SemDesfecho

In [34]:
pivot_table['desfecho'] = np.vectorize(verifica_desfecho)(pivot_table['obito'], pivot_table['piora'], pivot_table['melhora'], pivot_table['alta'])
pivot_table['desfecho'].value_counts()
df = pd.merge(df, pivot_table, on='AP_CNSPCN', how='left')

In [35]:
# Renomear a coluna
df = df.rename(columns={'desfecho_y': 'desfecho'})
df.head()

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_CIDPRI,AP_CIDSEC,AQ_CID10,AQ_LINFIN,...,piora_x,obito_x,alta_x,melhora_x,desfecho_x,alta_y,melhora_y,obito_y,piora_y,desfecho
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,C50,0000,C50,2,...,0,0,0,0,SemDesfecho,1,1,0,0,Melhora
1,304020052,âäâ{Ç{{üÇéüüââ~,64,F,2,01/01/2008,C25,0000,C25,1,...,0,0,0,0,SemDesfecho,0,0,0,0,SemDesfecho
2,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,C50,0000,C50,1,...,1,0,0,0,Piora,1,1,1,1,Óbito
3,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,C15,0000,C15,2,...,0,0,0,0,SemDesfecho,1,0,0,0,Alta
4,304020079,âäâ{Ç{{|{éâ{ä|,75,M,4,01/01/2008,C60,0000,C60,1,...,0,0,0,0,SemDesfecho,0,0,0,0,SemDesfecho

In [36]:
# Remover linhas sem desfecho
df = df.loc[df['desfecho'] != 'SemDesfecho',:]

In [37]:
# Excluindo as colunas 'AQ_ESQU_P1' e 'AQ_ESQU_P2'
df.drop(columns=['piora_x',	'obito_x',	'alta_x',	'melhora_x',	'desfecho_x',	'alta_y',	'melhora_y',	'obito_y',	'piora_y'], inplace=True)

df.head()

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_CIDPRI,AP_CIDSEC,AQ_CID10,AQ_LINFIN,...,Tem_Causas_Associadas,esquema_terapeutico,inicio,estadiamento_inicio,fim,estadiamento_fim,dif_estadiamento,total_tratamentos,procedimento_inicial,desfecho
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,C50,0000,C50,2,...,1,FAC,01/01/2008,3,02/04/2009,3,0,2,304020141,Melhora
2,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,C50,0000,C50,1,...,1,XELODA,01/01/2008,2,02/09/2011,3,1,1,304020141,Óbito
3,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,C15,0000,C15,2,...,1,FLUO+CISPLA,01/01/2008,4,01/01/2008,4,0,1,304020176,Alta
5,304020079,â{|~~{~Ç}|~üé,78,M,2,01/01/2008,C6,0000,C6,3,...,1,HONVAN+FLUTAMID,01/01/2008,2,01/04/2008,4,2,1,304020079,Piora
6,304050083,}{~ü~é}â~äé{{{,38,F,3,01/01/2008,C50,0000,C50,2,...,1,TMF,01/01/2008,2,02/01/2014,4,2,4,304020133,Piora

In [38]:
# Pivot da Tabela para pegar max e min da idade
pivot_table = pd.pivot_table(data=df,
                             index='AP_CNSPCN',
                             values=['AP_DTINIC', 'AP_NUIDADE'],
                             aggfunc=['min','max'])

#Renomeação das colunas
pivot_table = pivot_table.set_axis(['AP_DTINIC_min', 'idade_inicial', 'AP_DTINIC_max', 'idade_max'], axis=1)

#Merge com o dataset
df = pd.merge(df, pivot_table, on='AP_CNSPCN', how='left')
df.head()

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_CIDPRI,AP_CIDSEC,AQ_CID10,AQ_LINFIN,...,fim,estadiamento_fim,dif_estadiamento,total_tratamentos,procedimento_inicial,desfecho,AP_DTINIC_min,idade_inicial,AP_DTINIC_max,idade_max
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,C50,0000,C50,2,...,02/04/2009,3,0,2,304020141,Melhora,01/01/2008,22,02/04/2009,44
1,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,C50,0000,C50,1,...,02/09/2011,3,1,1,304020141,Óbito,01/01/2008,61,02/09/2011,65
2,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,C15,0000,C15,2,...,01/01/2008,4,0,1,304020176,Alta,01/01/2008,68,01/01/2008,68
3,304020079,â{|~~{~Ç}|~üé,78,M,2,01/01/2008,C6,0000,C6,3,...,01/04/2008,4,2,1,304020079,Piora,01/01/2008,78,01/04/2008,78
4,304050083,}{~ü~é}â~äé{{{,38,F,3,01/01/2008,C50,0000,C50,2,...,02/01/2014,4,2,4,304020133,Piora,01/01/2008,38,02/01/2014,44

In [39]:
# Excluindo as colunas 
df.drop(columns=['AP_DTINIC_min',	'AP_DTINIC_max'], inplace=True)

df.head()

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_CIDPRI,AP_CIDSEC,AQ_CID10,AQ_LINFIN,...,inicio,estadiamento_inicio,fim,estadiamento_fim,dif_estadiamento,total_tratamentos,procedimento_inicial,desfecho,idade_inicial,idade_max
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,C50,0000,C50,2,...,01/01/2008,3,02/04/2009,3,0,2,304020141,Melhora,22,44
1,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,C50,0000,C50,1,...,01/01/2008,2,02/09/2011,3,1,1,304020141,Óbito,61,65
2,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,C15,0000,C15,2,...,01/01/2008,4,01/01/2008,4,0,1,304020176,Alta,68,68
3,304020079,â{|~~{~Ç}|~üé,78,M,2,01/01/2008,C6,0000,C6,3,...,01/01/2008,2,01/04/2008,4,2,1,304020079,Piora,78,78
4,304050083,}{~ü~é}â~äé{{{,38,F,3,01/01/2008,C50,0000,C50,2,...,01/01/2008,2,02/01/2014,4,2,4,304020133,Piora,38,44

**One-Hot Encoding**

In [40]:
from sklearn.preprocessing import LabelEncoder

# Inicializar o LabelEncoder
le = LabelEncoder()

# Aplicar o LabelEncoder na coluna 'desfecho'
df['desfecho_encoded'] = le.fit_transform(df['desfecho'])
df['AP_PRIPAL_encoded'] = le.fit_transform(df['AP_PRIPAL'])

df.head()

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_CIDPRI,AP_CIDSEC,AQ_CID10,AQ_LINFIN,...,fim,estadiamento_fim,dif_estadiamento,total_tratamentos,procedimento_inicial,desfecho,idade_inicial,idade_max,desfecho_encoded,AP_PRIPAL_encoded
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,C50,0000,C50,2,...,02/04/2009,3,0,2,304020141,Melhora,22,44,1,96
1,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,C50,0000,C50,1,...,02/09/2011,3,1,1,304020141,Óbito,61,65,3,14
2,304020176,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,C15,0000,C15,2,...,01/01/2008,4,0,1,304020176,Alta,68,68,0,17
3,304020079,â{|~~{~Ç}|~üé,78,M,2,01/01/2008,C6,0000,C6,3,...,01/04/2008,4,2,1,304020079,Piora,78,78,2,7
4,304050083,}{~ü~é}â~äé{{{,38,F,3,01/01/2008,C50,0000,C50,2,...,02/01/2014,4,2,4,304020133,Piora,38,44,2,98

In [41]:
# Excluindo as colunas 'AQ_ESQU_P1' e 'AQ_ESQU_P2'
df.drop(columns=['AP_PRIPAL','desfecho'], inplace=True)

df.head()

,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_CIDPRI,AP_CIDSEC,AQ_CID10,AQ_LINFIN,AQ_ESTADI,...,estadiamento_inicio,fim,estadiamento_fim,dif_estadiamento,total_tratamentos,procedimento_inicial,idade_inicial,idade_max,desfecho_encoded,AP_PRIPAL_encoded
0,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,C50,0000,C50,2,3,...,3,02/04/2009,3,0,2,304020141,22,44,1,96
1,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,C50,0000,C50,1,3,...,2,02/09/2011,3,1,1,304020141,61,65,3,14
2,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,C15,0000,C15,2,4,...,4,01/01/2008,4,0,1,304020176,68,68,0,17
3,â{|~~{~Ç}|~üé,78,M,2,01/01/2008,C6,0000,C6,3,4,...,2,01/04/2008,4,2,1,304020079,78,78,2,7
4,}{~ü~é}â~äé{{{,38,F,3,01/01/2008,C50,0000,C50,2,2,...,2,02/01/2014,4,2,4,304020133,38,44,2,98

In [42]:
df['AP_CIDPRI_encoded'] = le.fit_transform(df['AP_CIDPRI'])
df['AQ_CID10_encoded'] = le.fit_transform(df['AQ_CID10'])
df['esquema_terapeutico'] = le.fit_transform(df['esquema_terapeutico'])


df.head()

,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_CIDPRI,AP_CIDSEC,AQ_CID10,AQ_LINFIN,AQ_ESTADI,...,estadiamento_fim,dif_estadiamento,total_tratamentos,procedimento_inicial,idade_inicial,idade_max,desfecho_encoded,AP_PRIPAL_encoded,AP_CIDPRI_encoded,AQ_CID10_encoded
0,âäâ{Ç{{Çäââ}Ç~},22,F,4,01/01/2008,C50,0000,C50,2,3,...,3,0,2,304020141,22,44,1,96,41,40
1,âäâ{Ç{{~âüÇâÇÇ,61,F,4,01/01/2008,C50,0000,C50,1,3,...,3,1,1,304020141,61,65,3,14,41,40
2,âäâ{Ç{{ü~~}ä},68,M,4,01/01/2008,C15,0000,C15,2,4,...,4,0,1,304020176,68,68,0,17,15,13
3,â{|~~{~Ç}|~üé,78,M,2,01/01/2008,C6,0000,C6,3,4,...,4,2,1,304020079,78,78,2,7,46,45
4,}{~ü~é}â~äé{{{,38,F,3,01/01/2008,C50,0000,C50,2,2,...,4,2,4,304020133,38,44,2,98,41,40

In [43]:
df.drop(columns=['AP_CIDPRI','AQ_CID10'], inplace=True)

In [44]:

# Codificando 'M' como 0 e 'F' como 1
df['AP_SEXO'] = df['AP_SEXO'].map({'M': 0, 'F': 1})

# Transformar coluna booleana 'booleano' de True/False para 1/0
df['Mudanca_de_Diagnostico_1'] = df['Mudanca_de_Diagnostico_1'].astype(int)
df['Mudanca_de_Diagnostico_2'] = df['Mudanca_de_Diagnostico_2'].astype(int)
df['Mudanca_de_Diagnostico_3'] = df['Mudanca_de_Diagnostico_3'].astype(int)

df['Mudanca_de_Diagnostico_1'].tail()

df.head()

,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_DTINIC,AP_CIDSEC,AQ_LINFIN,AQ_ESTADI,AQ_TRANTE,AQ_CIDINI1,...,estadiamento_fim,dif_estadiamento,total_tratamentos,procedimento_inicial,idade_inicial,idade_max,desfecho_encoded,AP_PRIPAL_encoded,AP_CIDPRI_encoded,AQ_CID10_encoded
0,âäâ{Ç{{Çäââ}Ç~},22,1,4,01/01/2008,0000,2,3,0,C50,...,3,0,2,304020141,22,44,1,96,41,40
1,âäâ{Ç{{~âüÇâÇÇ,61,1,4,01/01/2008,0000,1,3,0,C50,...,3,1,1,304020141,61,65,3,14,41,40
2,âäâ{Ç{{ü~~}ä},68,0,4,01/01/2008,0000,2,4,0,Desconhecid,...,4,0,1,304020176,68,68,0,17,15,13
3,â{|~~{~Ç}|~üé,78,0,2,01/01/2008,0000,3,4,0,C6,...,4,2,1,304020079,78,78,2,7,46,45
4,}{~ü~é}â~äé{{{,38,1,3,01/01/2008,0000,2,2,N,Desconhecid,...,4,2,4,304020133,38,44,2,98,41,40

In [45]:

df.drop(columns=['AQ_TRANTE', 'AQ_CIDINI1', 'AQ_DTINI1', 'AQ_CIDINI2', 'AQ_DTINI2', 'AQ_CIDINI3', 'AQ_DTINI3', 'AP_DTINIC'], inplace=True)
df.columns

Index(['AP_CNSPCN', 'AP_NUIDADE', 'AP_SEXO', 'AP_RACACOR', 'AP_CIDSEC',
       'AQ_LINFIN', 'AQ_ESTADI', 'Tempo_Atual_1', 'Tempo_1_2', 'Tempo_2_3',
       'Tempo_1_3', 'Mudanca_de_Diagnostico_1', 'Mudanca_de_Diagnostico_2',
       'Mudanca_de_Diagnostico_3', 'Numero_de_Tratamentos_Anteriores',
       'Numero_de_Diagnosticos_Diferentes', 'Tem_Causas_Associadas',
       'esquema_terapeutico', 'inicio', 'estadiamento_inicio', 'fim',
       'estadiamento_fim', 'dif_estadiamento', 'total_tratamentos',
       'procedimento_inicial', 'idade_inicial', 'idade_max',
       'desfecho_encoded', 'AP_PRIPAL_encoded', 'AP_CIDPRI_encoded',
       'AQ_CID10_encoded'],
      dtype='object')

**Normalização / Escalonamento**

In [47]:
from sklearn.preprocessing import MinMaxScaler

#Verificar se há valor na coluna 'AP_CIDSEC' e atribuir 0 ou 1
df['AP_CIDSEC_check'] = df['AP_CIDSEC'].apply(lambda x: 1 if pd.notnull(x) and x != '' else 0)


# Normalizar a idade para o intervalo [0, 1]
# scaler = MinMaxScaler()
# df['idade_normalizada'] = scaler.fit_transform(df[['AP_NUIDADE']])
# df['idade_inicial_normalizada'] = scaler.fit_transform(df[['idade_inicial']])
# df['idade_max_normalizada'] = scaler.fit_transform(df[['idade_max']])

print(df)

MemoryError: Unable to allocate 40.1 MiB for an array with shape (2, 2626014) and data type int64

In [48]:
df.drop(columns=['AP_CIDSEC', 'AP_NUIDADE','idade_inicial', 'idade_max'], inplace=True)

MemoryError: Unable to allocate 80.1 MiB for an array with shape (4, 2626014) and data type float64

In [ ]:
from dateutil.relativedelta import relativedelta

# Convertendo as colunas para o tipo datetime
df['inicio'] = pd.to_datetime(df['inicio'])
df['fim'] = pd.to_datetime(df['fim'])

C:\Users\Rafaela\AppData\Local\Temp\ipykernel_19944\2295466836.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['inicio'] = pd.to_datetime(df['inicio'])
C:\Users\Rafaela\AppData\Local\Temp\ipykernel_19944\2295466836.py:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['fim'] = pd.to_datetime(df['fim'])

In [ ]:

# Função para calcular a diferença em meses
def calcular_diferenca_em_meses(row):
    inicio = row['inicio']
    fim = row['fim']
    delta = relativedelta(fim, inicio)
    # Calcula a diferença total em meses
    return delta.years * 12 + delta.months

# Aplicando a função para cada linha do DataFrame
df['diferenca_em_meses_incio_fim'] = df.apply(calcular_diferenca_em_meses, axis=1)

# Exibindo o resultado
print(df)

In [1]:
df.drop(columns=['incio','fim'], inplace=True)

NameError: name 'df' is not defined

In [60]:

#criando outro dataframe com campos específicos
df_analise = df[['AP_PRIPAL_encoded', 'AP_CNSPCN', 'Tempo_Atual_1', 'Tempo_1_2',
       'Tempo_2_3', 'Tempo_1_3', 'Mudanca_de_Diagnostico_1',
       'Mudanca_de_Diagnostico_2', 'Mudanca_de_Diagnostico_3',
       'Numero_de_Tratamentos_Anteriores', 'Numero_de_Diagnosticos_Diferentes',
       'Tem_Causas_Associadas', 'esquema_terapeutico',
       'estadiamento_inicio', 'estadiamento_fim', 'dif_estadiamento',
       'total_tratamentos', 'procedimento_inicial', 'desfecho_encoded',
       'idade_inicial_normalizada', 'idade_max_normalizada','diferenca_em_meses_incio_fim']]
df.head()

,AP_PRIPAL,AP_CNSPCN,AP_NUIDADE,AP_SEXO,AP_RACACOR,AP_CIDPRI,AP_CIDSEC,AQ_CID10,AQ_LINFIN,AQ_CIDINI1,...,inicio,estadiamento_inicio,fim,estadiamento_fim,dif_estadiamento,total_tratamentos,procedimento_inicial,desfecho,idade_inicial,idade_max
0,304050067,âäâ{Ç{{Çäââ}Ç~},22,F,4,C50,0000,C50,2,C50,...,01/01/2008,3,02/04/2009,3,0,2,304020141,Melhora,22,44
1,304020141,âäâ{Ç{{~âüÇâÇÇ,61,F,4,C50,0000,C50,1,C50,...,01/01/2008,2,02/09/2011,3,1,1,304020141,Óbito,61,65
2,304020176,âäâ{Ç{{ü~~}ä},68,M,4,C15,0000,C15,2,Desconhecid,...,01/01/2008,4,01/01/2008,4,0,1,304020176,Alta,68,68
3,304020079,â{|~~{~Ç}|~üé,78,M,2,C6,0000,C6,3,C6,...,01/01/2008,2,01/04/2008,4,2,1,304020079,Piora,78,78
4,304050083,}{~ü~é}â~äé{{{,38,F,3,C50,0000,C50,2,Desconhecid,...,01/01/2008,2,02/01/2014,4,2,4,304020133,Piora,38,44

**Redução de dimensionalidade (PCA)**

In [ ]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

numerical_columns = [
    'AP_PRIPAL_encoded', 'AP_CNSPCN', 'Tempo_Atual_1', 'Tempo_1_2', 'Tempo_2_3', 
    'Tempo_1_3', 'Mudanca_de_Diagnostico_1', 'Mudanca_de_Diagnostico_2', 
    'Mudanca_de_Diagnostico_3', 'Numero_de_Tratamentos_Anteriores', 
    'Numero_de_Diagnosticos_Diferentes', 'Tem_Causas_Associadas', 'esquema_terapeutico', 
    'estadiamento_inicio', 'estadiamento_fim', 'dif_estadiamento', 'total_tratamentos', 
    'procedimento_inicial', 'desfecho_encoded', 'idade_inicial_normalizada', 
    'idade_max_normalizada', 'diferenca_em_meses_incio_fim'
]

scaler = StandardScaler()
df_scaled = scaler.fit_transform(df[numerical_columns])

pca = PCA(n_components=2)  # Vamos reduzir para 2 componentes principais
pca_components = pca.fit_transform(df_scaled)

# Visualizando a variância explicada pelos componentes principais
explained_variance = pca.explained_variance_ratio_
print(f"Variância explicada pelas componentes principais: {explained_variance}")

**Clusterização**

In [ ]:
from sklearn.cluster import KMeans

# Definindo o número de clusters (vamos usar 3 clusters como exemplo)
kmeans = KMeans(n_clusters=3, random_state=42)
df['Cluster_KMeans'] = kmeans.fit_predict(df[numerical_columns])

# Exibindo os resultados
print(df[['Paciente', 'Cluster_KMeans']])

In [ ]:
from sklearn.cluster import DBSCAN

# Aplicando o DBSCAN (com parâmetros 'eps' e 'min_samples' ajustáveis)
dbscan = DBSCAN(eps=0.5, min_samples=2)
df['Cluster_DBSCAN'] = dbscan.fit_predict(df[numerical_columns])

# Exibindo os resultados
print(df[['Paciente', 'Cluster_DBSCAN']])

In [ ]:
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as sch
import matplotlib.pyplot as plt

# Aplicando o Agglomerative Clustering
hierarchical = AgglomerativeClustering(n_clusters=3)  # Definindo 3 clusters como exemplo
df['Cluster_Hierarchical'] = hierarchical.fit_predict(df[numerical_columns])

# Exibindo os resultados
print(df[['Paciente', 'Cluster_Hierarchical']])

# Criando o Dendrograma para visualização
plt.figure(figsize=(10, 7))
sch.dendrogram(sch.linkage(df[numerical_columns], method='ward'))
plt.title('Dendrograma - Clusterização Hierárquica')
plt.xlabel('Índice do Paciente')
plt.ylabel('Distância')
plt.show()

In [ ]:
# Visualizando K-Means
plt.scatter(df['Tempo_Atual_1'], df['idade_inicial_normalizada'], c=df['Cluster_KMeans'], cmap='viridis')
plt.xlabel('Tempo Atual 1')
plt.ylabel('Idade Inicial Normalizada')
plt.title('Clusters K-Means')
plt.show()

# Visualizando DBSCAN
plt.scatter(df['Tempo_Atual_1'], df['idade_inicial_normalizada'], c=df['Cluster_DBSCAN'], cmap='plasma')
plt.xlabel('Tempo Atual 1')
plt.ylabel('Idade Inicial Normalizada')
plt.title('Clusters DBSCAN')
plt.show()

# Visualizando Hierarchical
plt.scatter(df['Tempo_Atual_1'], df['idade_inicial_normalizada'], c=df['Cluster_Hierarchical'], cmap='inferno')
plt.xlabel('Tempo Atual 1')
plt.ylabel('Idade Inicial Normalizada')
plt.title('Clusters Hierarchical')
plt.show()

**Análise de Sensibilidade**

In [ ]:

# Calculando a Inertia (para o método do cotovelo)
inertia = []
sil_scores = []
for k in range(2, 11):  # Testando de 2 a 10 clusters
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(pca_components)
    inertia.append(kmeans.inertia_)
    
    # Calculando o Silhouette Score
    sil_score = silhouette_score(pca_components, kmeans.labels_)
    sil_scores.append(sil_score)

# Plotando a Curva do Elbow
plt.figure(figsize=(8, 6))
plt.plot(range(2, 11), inertia, marker='o', color='b')
plt.title('Curva do Elbow')
plt.xlabel('Número de Clusters')
plt.ylabel('Inertia')
plt.show()

# Plotando o Silhouette Score
plt.figure(figsize=(8, 6))
plt.plot(range(2, 11), sil_scores, marker='o', color='g')
plt.title('Silhouette Score para diferentes números de clusters')
plt.xlabel('Número de Clusters')
plt.ylabel('Silhouette Score')
plt.show()

In [ ]:
# Lista das variáveis a serem alteradas
variables_to_modify = [
    'Tempo_Atual_1',
    'Numero_de_Tratamentos_Anteriores',
    'Numero_de_Diagnosticos_Diferentes',
    'dif_estadiamento',
    'Tem_Causas_Associadas',
    'total_tratamentos',
    'diferenca_em_meses_incio_fim',
    'idade_inicial_normalizada',
    'idade_max_normalizada'
]

# Criando uma cópia do DataFrame original para manipulação
df_copy = df.copy()

# Alterando as variáveis de forma simples: aumento ou diminuição de 2 unidades para variáveis contínuas
for var in variables_to_modify:
    if var in df_copy.columns:
        if df_copy[var].dtype in ['float64', 'int64']:  # Se a variável for numérica
            df_copy[var] = df_copy[var] + 2  # Aumenta em 2 para cada valor (exemplo)

# Normalizando os dados novamente
numerical_columns = df_copy[variables_to_modify].columns
scaler = StandardScaler()
df_copy_scaled = scaler.fit_transform(df_copy[numerical_columns])

# Aplicando PCA
pca = PCA(n_components=2)  # Reduzindo para 2 componentes principais para visualização
pca_components = pca.fit_transform(df_copy_scaled)

# Aplicando K-Means
kmeans = KMeans(n_clusters=3, random_state=42)  # Usando 3 clusters como exemplo
df_copy['Cluster_KMeans'] = kmeans.fit_predict(pca_components)

# Visualizando os clusters após a modificação
plt.figure(figsize=(8, 6))
plt.scatter(pca_components[:, 0], pca_components[:, 1], c=df_copy['Cluster_KMeans'], cmap='viridis')
plt.xlabel('Componente Principal 1')
plt.ylabel('Componente Principal 2')
plt.title('Clusterização após alteração das variáveis')
plt.colorbar(label='Cluster')
plt.show()

# Calculando o Silhouette Score para avaliar a qualidade da clusterização
silhouette_original = silhouette_score(pca_components, df_copy['Cluster_KMeans'])
print(f"Silhouette Score após alteração: {silhouette_original}")

# Comparando com a clusterização original
# Reaplicando KMeans nos dados originais (antes das alterações)
df_scaled = scaler.fit_transform(df[numerical_columns])
pca_components_original = pca.fit_transform(df_scaled)
kmeans_original = KMeans(n_clusters=3, random_state=42)
df['Cluster_KMeans'] = kmeans_original.fit_predict(pca_components_original)

# Calculando o Silhouette Score para o modelo original
silhouette_original_model = silhouette_score(pca_components_original, df['Cluster_KMeans'])
print(f"Silhouette Score original: {silhouette_original_model}")

# Exibindo a diferença nos Silhouette Scores
print(f"Diferença no Silhouette Score: {silhouette_original - silhouette_original_model}")

**Regressão Logística**

*Visualizaçaõ de Dados*

In [ ]:
import seaborn as sns


# Histograma para a variável 'Tempo_Atual_1'
plt.figure(figsize=(10,6))
sns.histplot(df['Tempo_Atual_1'], kde=True, bins=20)
plt.title('Distribuição do Tempo Atual 1')
plt.xlabel('Tempo Atual 1')
plt.ylabel('Contagem')
plt.show()

# Histograma para a variável 'diferenca_em_meses_incio_fim'
plt.figure(figsize=(10,6))
sns.histplot(df['diferenca_em_meses_incio_fim'], kde=True, bins=20)
plt.title('Distribuição da Diferença em meses do ínico ao fim do tratamento')
plt.xlabel('Diferença em meses')
plt.ylabel('Contagem')
plt.show()

# Histograma para a variável 'Idade_max'
plt.figure(figsize=(10,6))
sns.histplot(df['idade_max_normalizada'], kde=True, bins=20)
plt.title('Distribuição da Idade Máxima atingida por Paciente')
plt.xlabel('Idade Máxima')
plt.ylabel('Contagem')
plt.show()


# Boxplot para 'Numero_de_Tratamentos_Anteriores'
plt.figure(figsize=(10,6))
sns.boxplot(data=df, x='desfecho_encoded', y='Numero_de_Tratamentos_Anteriores')
plt.title('Distribuição de Tratamentos Anteriores por Desfecho')
plt.xlabel('Desfecho')
plt.ylabel('Numero de Tratamentos Anteriores')
plt.show()


# Boxplot para 'Numero_de_Diagnosticos_Diferentes'
plt.figure(figsize=(10,6))
sns.boxplot(data=df, x='desfecho_encoded', y='Numero_de_Diagnosticos_Diferentes')
plt.title('Distribuição de Diagnósticos Diferentes por Desfecho')
plt.xlabel('Desfecho')
plt.ylabel('Numero de Diagnósticos Diferentes')
plt.show()


# Boxplot para 'total_tratamentos'
plt.figure(figsize=(10,6))
sns.boxplot(data=df, x='desfecho_encoded', y='total_tratamentos')
plt.title('Distribuição de Total de Tratamentos por Desfecho')
plt.xlabel('Desfecho')
plt.ylabel('Numero de Total de Tratamentos')
plt.show()

# Gráfico de dispersão entre 'Tem_Causas_Associadas' e 'desfecho_encoded'
plt.figure(figsize=(10,6))
sns.scatterplot(data=df, x='Tem_Causas_Associadas', y='desfecho_encoded', hue='desfecho_encoded', palette='viridis')
plt.title('Causas Associadas vs Desfecho')
plt.xlabel('Tem Causas Associadas')
plt.ylabel('Desfecho (0 ou 1)')
plt.show()

In [ ]:

# Selecionar as variáveis para a análise
X = df[['estadiamento_inicio', 'dif_estadiamento']]  # Variáveis independentes
y = df['desfecho_encoded']  # Variável dependente (target)

# Padronizar os dados (PCA é sensível à escala)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Aplicar PCA para reduzir para 2 componentes principais
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X_scaled)

# Criar um DataFrame com os resultados do PCA e a variável de desfecho
pca_df = pd.DataFrame(data=X_pca, columns=['PC1', 'PC2'])
pca_df['desfecho_encoded'] = y

# Plotar o gráfico de dispersão entre os 2 componentes principais
plt.figure(figsize=(10,6))
sns.scatterplot(data=pca_df, x='PC1', y='PC2', hue='desfecho_encoded', palette='viridis', s=100, edgecolor='k')
plt.title('Análise Multivariada com PCA: Estadiamento Início, Diferença de Estadiamento e Desfecho')
plt.xlabel('Componente Principal 1')
plt.ylabel('Componente Principal 2')
plt.legend(title='Desfecho', loc='upper right')
plt.show()

*Matriz de Correlação*

In [ ]:
# Matriz de correlação
plt.figure(figsize=(12,8))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Matriz de Correlação entre Variáveis')
plt.show()

In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

# Separar variáveis independentes e dependente
X = df[['AP_PRIPAL_encoded', 'AP_CNSPCN', 'Tempo_Atual_1', 'Tempo_1_2', 'Tempo_2_3', 
        'Tempo_1_3', 'Mudanca_de_Diagnostico_1', 'Mudanca_de_Diagnostico_2', 
        'Mudanca_de_Diagnostico_3', 'Numero_de_Tratamentos_Anteriores', 
        'Numero_de_Diagnosticos_Diferentes', 'Tem_Causas_Associadas', 
        'esquema_terapeutico', 'estadiamento_inicio', 'estadiamento_fim', 
        'dif_estadiamento', 'total_tratamentos', 'procedimento_inicial', 
        'idade_inicial_normalizada', 'idade_max_normalizada', 'diferenca_em_meses_incio_fim']]
y = df['desfecho_encoded']  # Variável dependente

# Dividir o dataset em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Padronizar os dados
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

*Treinamento e Avaliação*

In [ ]:
# Construir o modelo de regressão logística
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

# Previsões no conjunto de teste
y_pred = model.predict(X_test)

# Avaliar o modelo
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

*Interpretação*

In [ ]:
# Exibir os coeficientes do modelo
coefficients = pd.DataFrame({'Feature': X.columns, 'Coefficient': model.coef_[0]})
print(coefficients)

# Função para calcular AIC (AIC = 2k - 2ln(L), onde k é o número de parâmetros e L é a verossimilhança)
def calculate_aic(model, X, y):
    n = len(y)
    y_pred_proba = model.predict_proba(X)[:, 1]
    likelihood = np.sum(y * np.log(y_pred_proba) + (1 - y) * np.log(1 - y_pred_proba))
    k = X.shape[1]
    aic = 2 * k - 2 * likelihood
    return aic

# Calcular o AIC
aic_value = calculate_aic(model, X_test, y_test)
print(f"AIC do modelo: {aic_value}")

In [ ]:
from sklearn.metrics import roc_curve, auc

# Fazer previsões de probabilidade no conjunto de teste
y_pred_proba = model.predict_proba(X_test)[:, 1]  # Pegando as probabilidades para a classe 1

# Calcular a curva ROC
fpr, tpr, thresholds = roc_curve(y_test, y_pred_proba)

# Calcular a AUC
roc_auc = auc(fpr, tpr)

# Plotar a curva ROC
plt.figure(figsize=(10,6))
plt.plot(fpr, tpr, color='blue', lw=2, label=f'ROC Curve (AUC = {roc_auc:.2f})')
plt.plot([0, 1], [0, 1], color='gray', linestyle='--', lw=2)  # Linha diagonal
plt.xlabel('Taxa de Falsos Positivos (FPR)')
plt.ylabel('Taxa de Verdadeiros Positivos (TPR)')
plt.title('Curva ROC')
plt.legend(loc='lower right')
plt.show()

# Imprimir a AUC
print(f"AUC da Curva ROC: {roc_auc:.2f}")